<div id="app"></div>

<div class="footer">
  <div class="links">
    <%= link_to "About" %> <%= "         |         " %>  <%= link_to "Donate" %>
  </div>
  <div class="disclaier">
    <p> Magic: The Gathering is a Trademark of Wizards of the Coast, Inc. /
    Hasbro, Inc. This site is unaffiliated.
    </p>
  </div>
</div>
