

<div class="bg"></div>

<div>
  <h4>The World Is Your Kitchen Table</h4>
</div>

<div class="summary">
  <h5>Gathering is the first of it’s kind pairer for
    Magic the Gathering players. Simply add
    your location and find players near you.
  </h5>
</div>
