<div class="outerwrap">
  <div class="wrapper">
      <h5>The World Is Your Kitchen Table</h5>
        <div class="center">
        <button> <%= link_to "Sign Up", new_user_registration_path %> </button>
      </div>
      <video src="https://s3.us-east-2.amazonaws.com/gathererbackground/gatherernew.mp4" autoplay loop></video>
  </div>
</div>


<div class="summary">
  <p>Gathering is the first of it’s kind pairer for
    Magic the Gathering players. Simply add
    your location and find players near you.
  </p>
</div>
