<div class='row'>
  <div class='small-10 medium-4 small-centered text-center columns game-label'>
    <h3>Matching Games</h3>


<div class="small-10 medium-4 small-centered text-center columns game-box">
    <div class="small-10 medium-4 small-centered text-center columns game-inner">
<% @games.each do |game| %>


<%= link_to game.title, game_path(game) %><br/>


<% if @games.blank? %>
  <h4> No Results  For: <%= params[:search] %></h4>

<% end %>
<% end %>

 </div>
</div>

<div class='small-10 medium-4 small-centered text-center columns add-game'>
  <%= link_to "Add a Game", new_game_path, class: 'button' %>
<div>

</div>
</div>
