<div class='row'>
  <div class='small-10 medium-4 small-centered text-center columns game-label'>
    <h1>Current Games</h1>
  </div>
</div>



<div class='add-game'>
  <div id= 'app'></div>
  <%= link_to "Add a Game", new_game_path, class: 'button' %>
</div>
