</br>
<h1> Gathering </h1>

<div class="about_text">
  <p>
    Gathering was born from a desire to meet local gamers and play more games
    of Magic. I found the official game finder lacking and decided to attempt
    another solution. Once signed in, users are able to see local games being
    hosted near them or host their own games. Users can communicate with other
    players via the in-app messaging system or game-specific bulletin board.
    This app will allow fellow players to play more of the game they
    love!
  </p>


  <h1>About Me</h1>


  <p>
    My name is Keith Hubert and I am a recent coding-bootcamp graduate. I am
    looking for a Junior Web Developer role in the Boston area. If you would like
    to learn more about me or schedule an interview I can be reached at 
    <a href="mailto:keith.hubert@thegatheringapp.org">keith.hubert@thegatheringapp.org</a>.
    Thank you. I hope you enjoy my app!
  </p>


</div>

<div class="smokey_div">
  <%= image_tag("KeithAndSmokeyResized.jpg", :id => "smokey") %>
</div>
