@import url('https://fonts.googleapis.com/css?family=Mrs+Sheppards|Oswald|Open+Sans');


.game-show {
  h6 {
    font-weight: bolder;
  }
  ul {
    margin-left: 0;
  }
}

.game-tile-inner {
  h4 {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 5vmin;
  }

}
// 
// .game-tile {
//   p {
//     font-size: 1vmin;
//   }
// }
