@import url('https://fonts.googleapis.com/css?family=Mrs+Sheppards|Oswald|Open+Sans');


.game-show {
  h6 {
    font-weight: bolder;
  }
  ul {
    margin-left: 0;
  }
}

.game-tile-inner {
  h4 {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 5vmin;
  }
}

.comment_tile {
  border-radius: 2px;
  border-color: black;
  border: solid 2px;
  width: 100%;
  text-align: left;
}

.commentbox {
  // margin-bottom: 20em;
  // margin-left: 5em;
  width: 100%;
}

.comment-button{
  width: 50%;
  margin:auto;
  .button {
    border: 10px;
    border-color: white;
    border-radius: 1em;
  }
}

.form_and_buttons {
  margin:auto;
}

#edit_link {
  font-size: 3vmin;
  font-family: sans-serif;
  text-align: center;
}

h1{
 font-family: 'Oswald', sans-serif;
}

p{
  font-size: 2.5vmin;
}

.leave {
  input {
    width: 100%;
  }
}

.new_signup {
  input {
    margin: auto;
    text-align: center;
  }
}

#new_request{
  margin: auto;
  text-align: center;
}

.join {
  #field{
    width: 100%;
  }
  #button{
    text-align: center;
    width: 50%;
    margin: auto;
  }
}
