* {
margin: 0px;
padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Eagle+Lake|Roboto');

$purple: #2A0631;


*, *:before, *:after {
      box-sizing: inherit;
    }

    .wrapper {
      width:100%;
      height:70vh;
      overflow: hidden;
    }

    .wrapper video {
      object-fit: contain;
      object-fit: fill;
      object-fit: cover;
      width:100%;
      height:100%;
    }


    h5 {
      font-family: 'Helvetica Neue', sans-serif;
      font-weight: bold;
      color:white;
      margin: 0;
      position: absolute;
      z-index: 2;
      font-size: 7vmin;
      top:45%;
      transform:translateY(-50%);
      width: 100%;
      text-align: center;
      // text-shadow:4px 4px 0 rgba(0,0,0,0.4);
    }

    h3 {
      font-family: 'Oswald', sans-serif;
        font-size: 7vmin;
    }


  // a {
  //   font-family: 'Helvetica Neue', sans-serif;
  //   font-weight: bold;
  //   color:white;
  //   background-color: red;
  //   margin: 0;
  //   position: sticky;
  //   z-index: 100;
  //   font-size: 5vmin;
  //   top:75%;
  //   transform:translateY(-50%);
  //   width: 100%;
  //   text-align: center;
  // }

  .signup {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:red;
    background-color: red;
    margin: 0;
    position: relative;
    z-index: 100;
    font-size: 4vmin;
    top:75%;
    transform:translateY(-50%);
    width: 80%;
    text-align: center;
  }


  .center {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:red;
    background-color: red;
    margin: 0;
    position: relative;
    z-index: 100;
    font-size: 3vmin;
    top:65%;
    transform:translateY(-50%);
    width: 12%;
    text-align: center;
    margin:auto;
    display:block;
    a {
      font-family: 'Helvetica Neue', sans-serif;
      font-weight: bold;
      color: white,
    }
   }

  button {
  background-color: red;
  color: white;
   }
    p {
      font-family: sans-serif;
      line-height:1.7;
      color:#4A4A4A;
      margin:20px;
      text-align: center;
      font-weight: 300;
    }

  video::-webkit-media-controls {
    display:none !important;
  }

.header {
}
