.mapbackground {

  background-image: image-url("damnlarge.jpg");
  background-position: center;
   background-repeat: no-repeat;
   height: 200vh;
   width: 100vw;

}

.map-styling {
  margin-top: 2em;
}
