@import url('https://fonts.googleapis.com/css?family=Mrs+Sheppards|Oswald|Open+Sans');


$white: #ffffff;
$black: #000000;
$grey-shadow: #999;
$form-box-grey-shadow: #2d2d2d;
$venue-form-background-color: rgba(137, 157, 173, 0.7);
$input-background-color: rgba(255, 255, 255, 0.54);
$low-opacity-white: rgba(255, 255, 255, 0.22);
$text-shadow: 2px 2px 10px $black;


.game-tile-outer {
  font-family: 'Oswald', sans-serif;
  background-image: url('mountain.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  // border: solid 2px;
  border-color: $low-opacity-white;
  border-radius: 6px;
  // box-shadow: 5px 5px 15px $form-box-grey-shadow;
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;

  width: 85%;

  h6{
    font-weight: bolder;
    font-size: 4vmin;
  }


  h5 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    position: static;
    z-index: 2;
    font-size: 7vmin;
    top:45%;
    transform:translateY(-50%);
    width: 100%;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.4);
    padding-bottom: 10px;
  }
  a {
    font-family: 'Oswald', sans-serif;
    color: rgb(43, 43, 43);
    font-size: 4vmin;

  }
  p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(43, 43, 43);
    font-size: 3vmin;
    margin-top: 0px;

  }

  h4 {
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  h3{
    font-size: 8vmin;
  }

}


.game-tile {
  border-radius: 6px;
  text-align: center;
  background-color: $input-background-color;
  width: 100%;
}
